@import '_bootstrap.scss'
@import '_mixins_variables.sass'

html
	position: relative
	min-height: 100%

body
	font-family: $sans-font-family
	margin-top: 10rem
	margin-bottom: 6rem

body, .navbar-default, footer
	background-color: $dark-color
	color: $light-color

.navbar-default
	border-bottom: 1px solid $muted-color

a
	color: inherit
	transition: all 0.25s
	&:hover, &:active, &:focus
		color: darken($light-color, 15%)

h2
	text-align: center

ul
	padding: 0
	column-count: 3
	width: 100%
	margin-bottom: 4rem
	li
		position: relative
		padding: 10px 0
		text-align: center
		list-style: none
		user-select: none
		transition: all 0.15s ease
		&:not([data-count='']):after
			display: inline-block
			content: attr(data-count)
			border: 1px solid
			padding: 0 3px
			margin-left: 5px
			font-family: monospace
		&:active
			transform: scale(0.95)

footer
	position: absolute
	bottom: 0
	width: 100%
	height: 6rem
	border-top: 1px solid $muted-color
	p
		margin: 0
		padding-top: 2rem

@include media-query($medium-width)
	ul
		column-count: 2

@include media-query($small-width)
	ul
		column-count: 1
