// Bootstrap overrides, see https://getbootstrap.com/docs/3.3/customize/#less-variables
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
$body-bg: #0d0d0d
$text-color: #fff
$text-muted: lighten(black, 46.7%)
$headings-line-height: 1
$link-color: $text-color
$navbar-default-bg: $body-bg
$navbar-default-border: $text-muted

// Imports Bootstrap and my mixins
@import '_bootstrap.scss'
@import '_mixins.sass'

// Sticky footer magic
html
	position: relative
	min-height: 100%

body
	margin: 6rem 0

// Tweaks header margins
.navbar-default h1
	margin: 1rem 0

// Fancier underlines and focus rings
a, [tabindex]
	text-decoration-skip: ink
	&:focus
		outline-color: inherit
		text-decoration: none

// Most of the magic happens here
ul
	padding: 0
	column-count: 3
	margin: 3rem 0
	font-size: 18px
	list-style: none
	li
		position: relative
		padding: 10px 0
		user-select: none
		transition: all 0.15s ease
		// The actual counters displayed
		&:not([data-count='']):after
			display: inline-block
			content: attr(data-count)
			margin-left: 5px
			font-family: monospace
			opacity: 0.5
		// The 'click' animation
		&:active
			transform: scale(0.95)

// The footer itself
footer
	position: absolute
	bottom: 0
	width: 100%
	border-top: 1px solid $navbar-default-border
	p
		margin: 0
		padding: 1.5rem 0

// Responsiveness magic
@include media-query($screen-sm)
	ul
		column-count: 2

@include media-query($screen-xs)
	ul
		column-count: 1
