doctype
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="theme-color" content="#000")
		title= title
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:n,i,600")
		link(rel="stylesheet" href=(environment == "production" ? "/drink/css/main.css" : "/css/main.css"))
	body
		!= partial("_partials/_header")
		.container-fluid
			.row
				div(class=(title != "Drinking Games" ? "col-xs-12 text-center" : "col-xs-12"))
					!= yield
		!= partial("_partials/_footer")
		if title != "Drinking Games"
			script(src=(environment == "production" ? "/drink/js/app.js" : "/js/app.js"))
		if environment == "production"
			!= partial("_partials/_analytics")
