doctype
html
	head
		title #{title}
		link(rel="stylesheet" href="/main.css")
	body
		!= partial("_partials/_header")
		.container
			.row
				.col-xs-12
					!= yield
		!= partial("_partials/_footer")
		if title != 'Drinking Games'
			script(src="/js/app.js")
