.row
	for article, slug in public.articles._data
		.col-sm-6.col-xs-12
			a(href=(environment == "production" ? "/drink/articles/#{slug}.html" : "/articles/#{slug}.html"))
				h1 #{article.title}
				h4 Posted #{article.date}
