.row
	for article, slug in public.articles._data
		.col-sm-6.col-xs-12
			h1
				a(href=(environment == "production" ? "/drink/articles/#{slug}.html" : "/articles/#{slug}.html"))= article.title
				br
				small= article.date
