link(rel="apple-touch-icon" sizes="180x180" href=(environment == "production" ? "/drink/favicons/apple-touch-icon.png" : "/favicons/apple-touch-icon.png"))
link(rel="icon" type="image/png" sizes="32x32" href=(environment == "production" ? "/drink/favicons/favicon-32x32.png" : "/favicons/favicon-32x32.png"))
link(rel="icon" type="image/png" sizes="16x16" href=(environment == "production" ? "/drink/favicons/favicon-16x16.png" : "/favicons/favicon-16x16.png"))
link(rel="manifest" href=(environment == "production" ? "/drink/favicons/manifest.json" : "/favicons/manifest.json"))
link(rel="mask-icon" href=(environment == "production" ? "/drink/favicons/safari-pinned-tab.svg" : "/favicons/safari-pinned-tab.svg") color="#000000")
link(rel="shortcut icon" href=(environment == "production" ? "/drink/favicons/favicon.ico" : "/favicons/favicon.ico"))
meta(name="apple-mobile-web-app-title" content=title)
meta(name="application-name" content=title)
meta(name="msapplication-config" content=(environment == "production" ? "/drink/favicons/browserconfig.xml" : "/favicons/browserconfig.xml"))
meta(name="theme-color" content="#000000")
