footer
	.container
		.row.text-muted
			.col-xs-4
				p Edit on 
					a(href="#{githubURL}") GitHub.
			.col-xs-4
				p.text-center Drink responsibly.
			.col-xs-4
				p.text-right &copy; #{new Date().getFullYear()}
