footer
	.container-fluid
		.row.text-muted
			if title == 'Drinking Games'
				.col-xs-12
					p Edit on 
						a(href="#{githubURL}") GitHub.
			else
				.col-xs-6
					p Edit on 
						a(href="#{githubURL}") GitHub.
				.col-xs-6.text-right
					p
						a(href=(environment == "production" ? "/drink/" : "/")) Back to all.
