footer
	.container-fluid
		.row.text-muted
			if title == 'Drinking Games'
				.col-xs-6
					p Please drink responsibly.
				.col-xs-6.text-right
					p Contribute on 
						a(href="#{githubURL}") GitHub.
			else
				.col-xs-6
					p
						a(href=(environment == "production" ? "/drink/" : "/")) Back to all games.
				.col-xs-6.text-right
					p Contribute on 
						a(href="#{githubURL}") GitHub.
