footer
	.container-fluid
		.row.text-muted
			.col-xs-6
				p
					if title == 'Drinking Games'
						| Please drink responsibly.
					else
						a(href=(environment == "production" ? "/drink/" : "/")) Back to all games.
			.col-xs-6.text-right
				p 
					a(href="#{githubURL}" target="_blank") Contribute on GitHub.
