nav.navbar.navbar-default.navbar-fixed-top
	.container
		.row
			.col-xs-10
				h1 #{title}
				h4 Edit on 
					a(href="#{githubURL}") GitHub.
			if title != 'Drinking Games'
				.col-xs-2.text-center
					h1#total 0
					h4 Total
