header
	nav.navbar.navbar-default.navbar-fixed-top
		.container-fluid
			.row
				if title != 'Drinking Games'
					.col-xs-10
						h1= title
					.col-xs-2.text-right
						h1#total 0
				else
					.col-xs-12
						h1= title
